<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Dashmala</a>
      <div class="navbar-nav me-auto">
        <a routerLink="/catalog" class="nav-item-btn" routerLinkActive="active">Home</a>
      </div>
      <div *ngIf="!isLoggedIn else logoutBtn">
        <a routerLink="/login" class="nav-link nav-item-btn" routerLinkActive="active">Login</a>
      </div>
      <ng-template #logoutBtn>
        <div>
          <a routerLink="/login" class="nav-link nav-item-btn" routerLinkActive="active" (click)="logout()">Logout</a>
        </div>
      </ng-template>

    </div>
  </nav>
</header>

