<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div id="nav-links" class="container-fluid d-flex justify-content-center">
      <!--<a routerLink="/" class="navbar-brand">Dashmala</a>-->
      <div class="navbar-nav">
        <a (click)="onNavigate(1)" style="cursor: pointer" class="nav-item-btn" routerLinkActive="active">Movies</a>
        <a (click)="onNavigate(2)" style="cursor: pointer" class="nav-item-btn" routerLinkActive="active">Top Rated</a>
        <a (click)="onNavigate(3)" style="cursor: pointer" class="nav-item-btn" routerLinkActive="active">Home</a>
        <a (click)="onNavigate(4)" style="cursor: pointer" class="nav-item-btn" routerLinkActive="active">WatchList</a>
      </div>
      <div *ngIf="!isLoggedIn else logoutBtn">
        <a routerLink="/login" class="nav-link nav-item-btn" routerLinkActive="active">Login</a>
      </div>
      <ng-template #logoutBtn>
        <div>
          <a routerLink="/login" class="nav-link nav-item-btn" routerLinkActive="active" (click)="logout()">Logout</a>
        </div>
      </ng-template>
    </div>

    <div class="dropdown-list">
      <mat-icon [matMenuTriggerFor]="menu" class="menu-icon">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onNavigate(1)">Movies</button>
        <button mat-menu-item (click)="onNavigate(2)">Top Rated</button>
        <button mat-menu-item (click)="onNavigate(3)">Home</button>
      </mat-menu>
    </div>
  </nav>


</header>

