<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="gradient">
        <img src="assets/imgs/wallpaperflare-cropped.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-caption">
        <div class="mat-display-2">Check The Top Rated Movies Now !</div>
        <a mat-raised-button routerLink="/catalog" color="warn">Browse Catalog</a>
      </div>
    </div>
  </div>
</div>

