<div class="row">
  <div class="col-xs-12">
    <div class="d-flex justify-content-center align-items-baseline">
      <mat-icon>stars</mat-icon>
      <div class="m-3 mat-display-3">Top Rated Movies</div>
      <mat-icon>stars</mat-icon>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- TODO: use material table -->
    <table>
      <thead>
      <tr>
        <th>rank</th>
        <th>name</th>
        <th>rating</th>
        <th>genre</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let movieItem of movieList; index as i">
        <td tabindex="1">{{i+1}} </td>
        <td>
          <!--<app-movie-item [movie]="movieItem"></app-movie-item>-->
          <a routerLink="movie/{{movieItem.id}}">{{movieItem.title}} </a>
        </td>
        <td>{{movieItem.rate}} </td>
        <td>{{movieItem.genre}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
