<div class="row content-card" *ngIf="!isLoggedIn else userProfile">
  <div class="col">
      <p class="mt-5">Welcome to <span id="description">the best movie app</span> </p>
      <form id="login-form" (ngSubmit)="onSubmit()" #f="ngForm">
        <mat-form-field appearance="outline" color="primary">
          <mat-label>Enter your Email</mat-label>
          <!--TODO: Correctly validate email-->
          <input #emailInput="ngModel" matInput required email ngModel name="email">
          <mat-hint align="start" *ngIf="!emailInput.valid && emailInput.touched">Please enter a valid email</mat-hint>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter your Password</mat-label>
          <input #passInput matInput [type]="hide ? 'password' : 'text'" required ngModel name="password" minlength="6">
          <mat-hint align="end">{{passInput.value?.length || 0}}/6</mat-hint>
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <button class="mt-3" mat-stroked-button [disabled]="!f.valid" type="submit">
          Login
        </button>
      </form>
    </div>
</div>

<ng-template #userProfile>
<div class="row">
  <div class="col-md-6 m-auto">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>You are Logged In!</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            Email: {{ currentUser.email }}
          </p>
        </mat-card-content>
      </mat-card>
  </div>
</div>
</ng-template>
