#movie-banner{
  /*border: 2px solid red;*/
  border-radius: 8px;
  box-shadow: 0 10px 23px 0 rgba(255, 255, 255, 0.9);
  width: 100%;
  position: relative;
}

.left-panel{
  background: #eee;
  border: 1px solid #dddddd;
  border-radius: 5px;
}

.play-icon{
  position: absolute;
  top: 40%;
  left: 48%;
  opacity: 1;
}

#movie-details{
  margin-top: 5px;
}

.vote-box{
  display: flex;
  align-items: center;
}

.rate-box{
  display: inline-block;
  width: 48px;
  height: 48px;
  background-color: #ffe459;
  color: #333;
  font-weight: 500;
  font-size: 20px;
  padding: 12px 10px;
  text-align: center;
  border-radius: 5px;
}

.votes-count{
  margin-left: 10px;
  font-style: italic;
  font-size: 18px;
}

.side-img{
  padding: 0;
  display: flex;
  flex-flow: column;
}

.side-img img{
  width: 200px;
  margin: 0 auto 20px;
}

.content-section {
padding: 10px 20px;
margin-bottom: 20px;
}

.movie-title {
color: #333;
font-weight: 600;
font-size: 30px;
}

.movie-overview{
  font-weight: 500;
  margin: 15px 0 5px;
}

.movie-metadata {
padding-bottom: 1px;
margin-bottom: 4px;
}

.wrapper{
  padding: 20px 15px;
}

.item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.item .item-value{
  margin-left: 10px;
  font-size: 16px;
}

.wrapper .btn{
  width: 100%;
}

.cast-wrapper{
  background-color: rgba(255, 255, 255, 0.67);
  border-radius: 8px;
}

.cast-list{
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

.cast-item{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.cast-item img{
  width: 60px;
}

.cast-alias{
  padding: 5px 15px;
  font-size: 18px;
}

.cast-alias span{
  display: block;
  color: #6e6c6c;
}

.cast-alias .actor-name{
  color: #222;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

.tagline-box{
  background-color: rgba(255, 255, 255, 0.67);
  min-height: 60px;
  border-radius: 8px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagline-box p{
  margin-top: 5px;
  font-size: 28px;
  font-family: 'Playfair Display', serif;
}
