<div class="row">
  <div class="col-xs-12">
    <div class="d-flex justify-content-center align-items-baseline">
      <mat-icon>stars</mat-icon>
      <div class="m-3 mat-display-3">Top Rated Movies</div>
      <mat-icon>stars</mat-icon>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <!-- TODO: use material table -->
    <table>
      <thead>
      <tr>
        <th>rank</th>
        <th>name</th>
        <th>rating</th>
        <th>no. of reviews</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>
          <a href="#">Fight Club</a>
        </td>
        <td>8.9</td>
        <td>3439</td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <a href="#">Coco</a>
        </td>
        <td>8.5</td>
        <td>352</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
